.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 92.01913875598089,179.88516746411483 184.03827751196178,159.77033492822966 273,147 C 361.9617224880382,134.22966507177034 447.86602870813385,128.8038277511962 534,125 C 620.1339712918661,121.19617224880382 706.4976076555025,119.01435406698565 817,134 C 927.5023923444975,148.98564593301435 1062.1435406698563,181.13875598086125 1170,195 C 1277.8564593301437,208.86124401913875 1358.9282296650717,204.4306220095694 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 111.77990430622009,170.44976076555025 223.55980861244018,140.89952153110048 324,154 C 424.4401913875598,167.10047846889952 513.5406698564592,222.85167464114832 608,229 C 702.4593301435408,235.14832535885168 802.2775119617226,191.69377990430624 894,182 C 985.7224880382774,172.30622009569376 1069.3492822966507,196.37320574162678 1159,205 C 1248.6507177033493,213.62679425837322 1344.3253588516745,206.81339712918663 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 109.25358851674642,167.78947368421052 218.50717703349284,135.57894736842107 325,150 C 431.49282296650716,164.42105263157893 535.2248803827752,225.4736842105263 621,257 C 706.7751196172248,288.5263157894737 774.5933014354066,290.52631578947364 854,270 C 933.4066985645934,249.47368421052633 1024.4019138755982,206.42105263157893 1124,191 C 1223.5980861244018,175.57894736842107 1331.7990430622008,187.78947368421052 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 118.86124401913872,175.7224880382775 237.72248803827745,151.44497607655504 339,156 C 440.27751196172255,160.55502392344496 523.9712918660288,193.94258373205741 614,197 C 704.0287081339712,200.05741626794259 800.3923444976077,172.7846889952153 889,164 C 977.6076555023923,155.2153110047847 1058.4593301435407,164.91866028708134 1149,174 C 1239.5406698564593,183.08133971291866 1339.7703349282297,191.54066985645932 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 92.01913875598089,179.88516746411483 184.03827751196178,159.77033492822966 273,147 C 361.9617224880382,134.22966507177034 447.86602870813385,128.8038277511962 534,125 C 620.1339712918661,121.19617224880382 706.4976076555025,119.01435406698565 817,134 C 927.5023923444975,148.98564593301435 1062.1435406698563,181.13875598086125 1170,195 C 1277.8564593301437,208.86124401913875 1358.9282296650717,204.4306220095694 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}